a {
    text-decoration: none;
    outline: none;
    color: black;
}

.navbar {
    background-color: cadetblue;
    height: 80px;
    width: 100%;
}

.company_name {
    float: left;
    margin-top: 26px;
    margin-left: 10px;
    font-size: 22px;
}

.cart {
    float: right;
    margin-top: 26px;
    margin-right: 20px;
    font-size: 20px;
}

.logo_img {
    height: 40px;
    width: 40px;
}

.company_image {
    float: left;
    margin-left: 20px;
    margin-top: 19px;
}

.content {
    width: 100%;
    background-color: cornflowerblue;
    margin-top: 2px;
}

.left-menu {
    background-color: cornsilk;
    width: 200px;
    float: left;
    height: auto;
}

.products {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    background-color: darkcyan;

}

.right-menu {
    float: right;
    width: 200px;
}

.products-list {
    width: 100%;
    background-color: darkgoldenrod;
}