{% extends 'shop/base/base.html' %}

{% block content %}
<div>
  {% for c in categories %}
  <p><a href="{% url 'by_category_slug' c.slug %}">{{ c.name }}</a></p>
  {% endfor %}
</div>
<p>{{ current_category }}</p>
<div class="card-group">
    {% for product in products %}
    {% if product %}
  <div class="card">
    <img src="{{ product.image.url }}" class="card-img-top" style="width: 150px; height: 150px;" alt="Изображение не добавлено">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.category }}</p>
      <p class="card-text">{{ product.price }}</p>
      <p class="card-text"><small class="text-muted">{{ product.created }}</small></p>
    </div>
  </div>
{% else %}
<p>Товары ещё не добавлены</p>
{% endif %}
{% endfor %}
</div>

{% endblock %}