{% extends 'shop/base/base.html' %}

{% block menu %}
					<li class="active"><a href="{% url 'index' %}">Главная</a></li>
					<li><a href="{% url 'about' %}">О нас</a></li>
					<li><a href="services.html">Продукция</a></li>
					<li><a href="contact.html">Контакты</a></li>
{% endblock %}

{% block content %}

<div id="leftcol">
				<div class="block">
					<div class="block-top"></div>
					<div class="block-content">
						<h2>Добро пожаловать в <span>{{ greeting.shop_name }}!</span></h2>
							<p>
								{{ greeting.greeting_text }}
							</p>
					</div>
					<div class="block-bottom"></div>
				</div>
			</div>
			<div id="rightcol">
				<div class="block">
					<div class="block-top"></div>
					<div class="block-content">
						<h3>Наши <span>Акции!</span></h3>
						<ul>
							<li><a href="#">Burger</a><strong>$4.99</strong></li>
							<li><a href="#">Chicken Wings</a><strong>$5.99</strong></li>
							<li><a href="#">French Fries</a><strong>$4.99</strong></li>
							<li><a href="#">Large Pizza</a><strong>$12.99</strong></li>
						</ul>
						<a class="yellow-button"><span>See Menu</span></a>
					</div>
					<div class="block-bottom"></div>
				</div>


			</div>

{% endblock %}